<h1>Listing indices</h1>

<table>
  <tr>
    <th>Home</th>
    <th>User</th>
    <th>Nav</th>
    <th>Main</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indices.each do |index| %>
  <tr>
    <td><%= index.home %></td>
    <td><%= index.user %></td>
    <td><%= index.nav %></td>
    <td><%= index.main %></td>
    <td><%= link_to 'Show', index %></td>
    <td><%= link_to 'Edit', edit_index_path(index) %></td>
    <td><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Index', new_index_path %>
